torch
transformers
datasets
peft
accelerate
bitsandbytes
trl
sentence-transformers
chromadb
langchain
langchain-core
langchain-community
fastapi
uvicorn
llama-cpp-python
streamlit
psutil
mcp
torchvision
langchain-classic
langchainhub